.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 40%;
  min-width: 250px;
}

.downloadPdf {
  margin-top: 4rem;
  background: #fff;
  border: 1px solid #0e66db;
  display: flex;
  border-radius: 4px;
  align-items: center;
  width: 60%;
  max-width: 300px;
  justify-content: space-around;
  padding: 1rem;
  color: #0e66db;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.05rem;
}

.downloadPdf svg {
  width: 20%;
  max-width: 75px;
  min-width: 45px;
}

.pdfFillLetter,
.pdfFillIcon {
  fill: #0e66db;
}

.downloadPdf:hover {
  background: #0e66db;
  border: 1px solid #0e66db;
  color: #fff;
}

.downloadPdf:hover .pdfFillLetter,
.downloadPdf:hover .pdfFillIcon {
  fill: #fff;
}
